
.content{
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
}

nz-select {
      margin: 0 8px 10px 0;
      width: 200px;
 }

.nzForm{
      width: 90%;
      margin: 0 auto;
}

.col input{
      width: 100%;
}

.ant-advanced-search-form {
      padding: 24px;
      background: #fbfbfb;
      border: 1px solid #d9d9d9;
      border-radius: 6px;
}



.search-result-list {
      margin-top: 16px;
      border: 1px dashed #e9e9e9;
      border-radius: 6px;
      background-color: #fafafa;
      min-height: 200px;
      text-align: center;
      padding-top: 80px;
}

 [nz-form-label] {
      overflow: visible;
}

.main{
      padding: 5px;
}

.num {
      padding: 15px;
}
.icon{
      display: flex;
      justify-content: space-between;
      padding: 15px 5px 0 5px;
      
}

.active{
      opacity: 0.5;
}



.ant-select-single.ant-select-show-arrow .ant-select-selection-item, .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
      padding-right: 0;

  }





